/* not currently in use - is fallback formatting in case of JS incompatibility*/
#jumbotron {
    background-color: #E9ECEF;
}

body {
    font-family: 'Roboto', sans-serif;
}    

@media screen and (max-width: 576px){
     .callout {
        padding-top: 90px;
    }

}